MANAGE_PY_PATH='/Users/t/dev/prepos/budget-django/manage.py'
DEBUG=True
ALLOWED_HOSTS=localhost
SECRET_KEY=
OIDC_AUTH_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PORT=5432