{% extends "base.html" %} {% block content %}
<section class="grid">
  <h1>Overzicht</h1>
  <div x-data>
    <form
      action="{% url "transactions:upload" %}"
      method="POST"
      enctype="multipart/form-data"
      hx-boost
      hx-indicator=".spinning"
      hx-on::after-request="this.reset()"
    >
      {% csrf_token %}
      <input
        type="file"
        name="file"
        style="display: none"
        x-ref="file"
        @change="$refs.submit.click()"
      />

      <input type="submit" x-ref="submit" style="display: none" />

      <button
        type="button"
        class="secondary d-flex align-items-center"
        @click="$refs.file.click()"
      >
        <i data-lucide="loader" class="spinning htmx-indicator"></i>
        <i class="htmx-not-indicator" data-lucide="file-up"></i>
        <span>Bestand uploaden</span>
      </button>
    </form>
  </div>

  <div hx-boost="true">
    <a class="outline secondary" role="button" href="{% url "budget:home" date_previous.year date_previous.month %}"><i data-lucide="arrow-left" width="16" height="16"></i></a>
    <a role="button" class="outline secondary" href="{% url "budget:home" %}">vandaag</a>
    <a class="outline secondary" role="button" href="{% url "budget:home" date_next.year date_next.month %}">
      <i data-lucide="arrow-right" width="16" height="16"></i>
    </a>
  </div>
</section>

<section id="overview">
  {% include "budget/overview.html" with summary=summary week=week iban_selected=iban%}
</section>
{% endblock content %}
