<style>
    .stats {
        display: flex;

        @media screen and (max-width: 578px) {
          flex-direction: column;

          > *:not(:first-child)  {
              padding-top: calc(var(--pico-spacing));
          }

          > *:not(:last-child) {
              padding-bottom: calc(var(--pico-spacing));
              border-bottom: 1px dashed black;
          }
        }

        @media screen and (min-width: 579px) {
          > * {
              display: flex;
              flex-direction: column;
          }

          > *:not(:first-child)  {
              padding-left: calc(var(--pico-spacing) * 2);
          }

          > *:not(:last-child) {
              padding-right: calc(var(--pico-spacing) * 2);
              border-right: 1px dashed black;
          }
        }


        h2 {
            margin: calc(var(--pico-spacing) / 4) 0;
        }

        small {
            color: var(--pico-muted-color);
        }
    }

    .collapsible-list {
      max-width: 800px;
      margin: 0 auto;

      section, h5 {
        margin: 0;
      }

      small {
          color: var(--pico-muted-color);
      }
    }

    .summary {
      align-items: center;
      background: var(--pico-card-background-color);
      display: flex;
      justify-content: space-between;
      position: sticky;
      top: 0;
    }

    .summary > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(var(--pico-spacing) / 2);

      &:not(:first-child) {
        flex-basis: 150px;
      }
    }

    .summary > * > div {
      display: flex;
      align-items: center;
      gap: calc(var(--pico-spacing) / 4);
    }

    progress {
      margin:  0;
      min-width: 100px;
    }

    .transaction {
      display: flex;
      gap: var(--pico-spacing);
      margin-top: var(--pico-spacing);

      .date {
        text-wrap: nowrap;
      }

      > * {
        display: flex;
        flex-direction: column;

        &:first-child {
          justify-content: space-between;
        }
      }

      .amount {
        border: 1px solid black;
        border-radius: var(--pico-border-radius);
        padding: calc(var(--pico-spacing) / 5) calc(var(--pico-spacing) / 2);
      }

      &.positive {
        .amount { color: var(--success); border-color: var(--success); }
      }

      &.negative {
        .amount { color: var(--error); border-color: var(--error); } 
      }

      
      button:not(.is-not-fixed):hover,
      .is-not-fixed {
        text-decoration: line-through;
        border-color: #25DDDD;
        color: #25DDDD;
      }
    }
</style>

<div class="d-flex justify-content-center">
  <article class="stats">
    <div>
      <small>Deze maand</small>
      <h2>{{ month_display }}</h2>
      <small>{{ month_start }} - {{ month_end }}</small>
    </div>
    <div>
      <small>Budget</small>
      <h2>{{ summary.budget }}</h2>
      <small>{{ summary.income }} - {{ summary.expenses }}</small>
    </div>
    <div>
      <small>Uitgegeven</small>
      <h2>{{ summary.spent }}</h2>
      <small>{{ summary.left}} over</small>
    </div>
  </article>
</div>

<section class="collapsible-list">
  <h4><i>Budget per week</i></h4>
    {% for week_number, week_summary in summary.weeks.items %}
    <article>
    <div 
      id="week-{{ week_number }}"
      class="details"
      >
      <div class="summary"
        {% if week_number == week %}
        hx-get="{% url 'budget:home' date.year date.month %}"
        hx-swap="show:top"
        {% else %}
        hx-get="{% url 'budget:home' date.year date.month week_number %}"
        hx-swap="show:#week-{{ week_number }}:top"
        {% endif %}
        hx-target="body"
        hx-push-url="true"
      >
        <section>
          <small>Week</small>
          <h5>{{ week_number }}</h5>
        </section>
        <section>
          <small>Over</small>
          <b>{{ week_summary.left|floatformat:2 }}</b>
        </section>
        <section>
          <small>Uitgegeven</small>
          <div>
            <small>{{ week_summary.spent|floatformat:2 }}</small>
            <progress class="{% if week_summary.spent > week_summary.budget %}negative{% endif %}" value="{{ week_summary.spent }}" max="{{ week_summary.budget }}"></progress>
            <small>{{ week_summary.budget|floatformat:2 }}</small>
          </div>
        </section>
      </div>
      {% if week == week_number %}
      <div>
      {% for transaction in week_summary.transactions %}
      <div id="transaction-{{transaction.id}}" class="transaction {% if transaction.amount > 0 %}positive{% else %}negative{% endif %}">
        <div>
          <b class="date">{{ transaction.date|date:'d-m' }}</b>
          <div>
            {% if transaction.is_fixed or transaction.is_not_fixed %}
            {% include 'transactions/includes/toggle-fixed.html' with transaction=transaction %}
            {% endif %}
          </div>
        </div>
        <div>
          <div><span class="amount">{{ transaction.amount|floatformat:2 }}</span></div>
          <i>{{ transaction.name_other_party }}</i>
          <small>{{ transaction.description }}</small>
        </div>
      </div>
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </article>
    {% endfor%}
</section>

<section class="collapsible-list">
  <h4><i>Balans per rekening</i></h4>
    {% for iban, iban_balance in summary.iban_balances.items %}
    <article>
    <div 
      id="iban-{{ iban }}"
      class="details"
      >
      <div class="summary"
        {% if iban == iban_selected %}
        hx-get="{% url 'budget:home' date.year date.month %}"
        hx-swap="show:top"
        {% else %}
        hx-get="{% url 'budget:home' date.year date.month iban %}"
        hx-swap="show:#iban-{{ iban }}:top"
        {% endif %}
        hx-target="body"
        hx-push-url="true"
      >
        <section>
          <small>Iban</small>
          <h5>{{ iban }}</h5>
        </section>
        <section>
          <small>Balans</small>
          <b>{{ iban_balance.balance|floatformat:2 }}</b>
        </section>
      </div>
      {% if iban == iban_selected %}
      <div>
      {% for transaction in iban_balance.transactions %}
      <div id="transaction-{{transaction.id}}" class="transaction {% if transaction.amount > 0 %}positive{% else %}negative{% endif %}">
        <div>
          <b class="date">{{ transaction.date|date:'d-m' }}</b>
          <div>
            {% if transaction.is_fixed or transaction.is_not_fixed %}
            {% include 'transactions/includes/toggle-fixed.html' with transaction=transaction %}
            {% endif %}
          </div>
        </div>
        <div>
          <div><span class="amount">{{ transaction.amount|floatformat:2 }}</span></div>
          <i>{{ transaction.name_other_party }}</i>
          <small>{{ transaction.description }}</small>
        </div>
      </div>
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </article>
    {% endfor%}
</section>