<style>
    #stats {
        display: flex;

        > * {
            display: flex;
            flex-direction: column;
        }

        > *:not(:first-child)  {
            padding-left: calc(var(--pico-spacing) * 2);
        }

        > *:not(:last-child) {
            padding-right: calc(var(--pico-spacing) * 2);
            border-right: 1px dashed black;
        }

        h2 {
            margin: calc(var(--pico-spacing) / 4) 0;
        }

        small {
            color: var(--pico-muted-color);
        }
    }

    .week {
      max-width: 800px;
      margin: 0 auto;

      section, h5 {
        margin: 0;
      }

      small {
          color: var(--pico-muted-color);
      }

      details:not([open]) {
        margin-bottom: 0;
      }

      summary {
        align-items: center;
        background: var(--pico-card-background-color);
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
      }

      progress {
        margin:  0;
        min-width: 100px;
      }

      summary > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(var(--pico-spacing) / 2);

        &:not(:first-child) {
          flex-basis: 150px;
        }
      }

      summary > * > div {
        display: flex;
        align-items: center;
        gap: calc(var(--pico-spacing) / 4);
      }
    }

    .transaction {
      display: flex;
      gap: var(--pico-spacing);

      &:not(:first-child) {
        margin-top: var(--pico-spacing);
      }

      > * {
        display: flex;
        flex-direction: column;

        &:first-child {
          justify-content: space-between;
        }
      }

      .amount {
        border: 1px solid black;
        border-radius: var(--pico-border-radius);
        padding: calc(var(--pico-spacing) / 5) calc(var(--pico-spacing) / 2);
      }

      &.positive {
        .amount { color: var(--success); border-color: var(--success); }
      }

      &.negative {
        .amount { color: var(--error); border-color: var(--error); } 
      }

      
      button:not(.is-not-fixed):hover,
      .is-not-fixed {
        text-decoration: line-through;
        border-color: #25DDDD;
        color: #25DDDD;
      }
    }
</style>

<div class="d-flex justify-content-center">
  <article id="stats">
    <div>
      <small>Deze maand</small>
      <h2>{{ month_display }}</h2>
      <small>{{ month_start }} - {{ month_end }}</small>
    </div>
    <div>
      <small>Budget</small>
      <h2>{{ summary.budget }}</h2>
      <small>{{ summary.income }} - {{ summary.expenses }}</small>
    </div>
    <div>
      <small>Uitgegeven</small>
      <h2>{{ summary.spent }}</h2>
      <small>{{ summary.left}} over</small>
    </div>
  </article>
</div>

<section class="week">
  <h4><i>Budget per week</i></h4>
    {% for week_number, week_summary in summary.weeks.items %}
    <article>
    <details name="week" {% if week == week_number %}open{% endif %}>
      <summary>
        <section>
          <small>Week</small>
          <h5>{{ week_number }}</h5>
        </section>
        <section>
          <small>Over</small>
          <b>{{ week_summary.left|floatformat:2 }}</b>
        </section>
        <section>
          <small>Uitgegeven</small>
          <div>
            <small>{{ week_summary.spent|floatformat:2 }}</small>
            <progress class="{% if week_summary.spent > week_summary.budget %}negative{% endif %}" value="{{ week_summary.spent }}" max="{{ week_summary.budget }}"></progress>
            <small>{{ week_summary.budget|floatformat:2 }}</small>
          </div>
        </section>
      </summary>
      {% for transaction in week_summary.transactions %}
      <div class="transaction {% if transaction.amount > 0 %}positive{% else %}negative{% endif %}">
        <div>
          <b>{{ transaction.date|date:'d-m' }}</b>
          <div>
            {% if transaction.is_fixed or transaction.is_not_fixed %}
            {% include 'transactions/includes/toggle-fixed.html' with transaction=transaction %}
            {% endif %}
          </div>
        </div>
        <div>
          <div><span class="amount">{{ transaction.amount|floatformat:2 }}</span></div>
          <i>{{ transaction.name_other_party }}</i>
          <small>{{ transaction.description }}</small>
        </div>
      </div>
      {% endfor %}
    </details>
  </article>
    {% endfor%}
</section
