<form 
      id="toggle-{{transaction.id}}"
      hx-target="this"
      hx-swap="outerHTML"
      hx-post="{% url "transactions:toggle-fixed" %}">
    {% csrf_token %}

    <input type="hidden" name="id" value="{{ transaction.id }}" />
    <input type="hidden" name="iban" value="{{ iban_selected }}" />
    <input type="hidden" name="week" value="{{ week }}" />

    <button 
        type="submit"
        class="outline smaller {% if transaction.is_not_fixed %}is-not-fixed{% endif %}">
        vast
    </button>
</form>

{% if spent is not None %}
<h2 id="spent-total" hx-swap-oob="true">{{ spent|floatformat:2 }}</h2>
<small id="left-total" hx-swap-oob="true">{{ left|floatformat:2 }}</small>
<small id="spent-week-{{ week }}" hx-swap-oob="true">{{ week_spent|floatformat:2 }}</small>
<b id="left-week-{{ week }}" hx-swap-oob="true">{{ week_left|floatformat:2 }}</b>
<progress id="progress-week-{{ week }}" class="{% if week_spent > week_budget %}negative{% endif %}" value="{{ week_spent }}" max="{{ week_budget }}" hx-swap-oob="true"></progress>
{% endif %}